extend layout

block content
    h1.font-weight-bold.m-0= "What is Programming?"
    small.text-secondary= "Created by Pamela Fox | source www.khanacademy.org"
    p.mt-3.text-justify Programming is the process of creating a set of instructions that tell a computer how to perform a task. Programming can be done using a variety of computer "languages," such as SQL, Java, Python, and C++.
    .embed-responsive.embed-responsive-21by9
        iframe.embed-responsive-item(src="https://www.youtube.com/embed/FCMxA3m_Imc?rel=0", allowfullscreen)